* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(181, 236, 220, 0.109);
}

body {
  background-image: url(./images/undraw_Co-working_re_w93t.svg);
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  padding: 30px;
  border-radius: 10px;
  border: 3px solid rgb(62, 66, 75);
}

/* .title-header {
  margin-left: 150px;
} */

.form-header {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: end;
}

.form-header-option {
  height: 30px;
  font-size: 15px;
  /* display: none; */
}

.results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    border: 3px solid rgb(62, 66, 75);
}

.job-card {
    border: solid rgb(173, 173, 173) 2px;
    margin: 5px 3px;
    display: flex column;
    justify-content: center;
    border-radius: 5px;
    padding: 5px;
}

.job-card:hover {
    border: solid black 3px;
    cursor: pointer;
    transition: 0.2s;
    background-color: rgb(184, 250, 195);
}

.div-company-location p {
  margin: 2px;
  padding: 3px;
  border: 2px solid rgb(24, 61, 34);
}

h3 {
  text-align: center;
}

/* .job-description {
  position: relative;
  width: 50%;
  height: 50%;
  background-color: white;
  /* visibility: hidden; */
/* } */

main {
  display: flex;
}

.selected-job {
  max-width: 40%;
  border: solid 1px black;
}