* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: green;
    margin:20px 60px;
    height: 50px;
}
.title-image {
    display: flex;
    align-items: center;

}